@font-face { font-family: "Helvetica Neue Condensed"; src: url('../fonts/HelveticaNeueLTStd-Cn.otf'); }
@font-face { font-family: "Helvetica Neue Condensed"; src: url('../fonts/HelveticaNeueLTStd-CnO.otf'); font-style: italic; }
@font-face { font-family: "Helvetica Neue Condensed"; src: url('../fonts/HelveticaNeueLTStd-BdCn.otf'); font-weight: bold; }

@font-face { font-family: "Helvetica Neue Light"; src: url('../fonts/HelveticaNeueLTStd-Lt.otf'); }
@font-face { font-family: "Helvetica Neue Light Italic"; src: url('../fonts/HelveticaNeueLTStd-LtIt.otf'); }
@font-face { font-family: "Helvetica Neue Light"; src: url('../fonts/HelveticaNeueLTStd-LtIt.otf'); font-style: italic; }

@font-face { font-family: "Helvetica Neue Thin"; src: url('../fonts/HelveticaNeueLTStd-Th.otf'); }
@font-face { font-family: "Helvetica Neue Thin"; src: url('../fonts/HelveticaNeueLTStd-ThIt.otf'); font-style: italic; }

@font-face { font-family: "Helvetica Neue Roman"; src: url('../fonts/HelveticaNeueLTStd-Roman.otf'); }
@font-face { font-family: "Helvetica Neue Bold"; src: url('../fonts/HelveticaNeueLTStd-Bd.otf'); }
@font-face { font-family: "Helvetica Neue Med"; src: url('../fonts/HelveticaNeueLTStd-Md.otf'); }
@font-face { font-family: "Helvetica Neue Italic"; src: url('../fonts/HelveticaNeueLTStd-It.otf'); }
@font-face { font-family: "Helvetica Neue Bold It"; src: url('../fonts/HelveticaNeueLTStd-BdIt.otf'); }
@font-face { font-family: "Helvetica Neue Black"; src: url('../fonts/HelveticaNeueLTStd-Blk.otf'); }
