#iframe-popup {
  position:absolute;
  top: 50px;
  left: 60px;
  border:15px solid #afafaf;
  -webkit-border-radius: 15px 0px 15px 0px;
  background-color: #666;
  width:900px;
  height:598px;
  z-index:1002;
  &::after {
    content:'';
    display:block;
    position:absolute;
    top:-38px;
    left:858px;
    width:48px;
    height:49px;
    background: url('../images/framework/minus_btn.png') right top no-repeat;
    pointer-events:none;
  }
  div { // wrapper needed for scrolling
    overflow:hidden;
    width: 870px;
    height: 568px;
    -webkit-border-radius: 15px 0px 15px 0px;
    div { // wrapper needed for scrolling
      overflow: scroll;
      -webkit-overflow-scrolling:touch;
      width:inherit;
      height:inherit;
      iframe {
        width:100%;
        height:100%;
      }
    }
  }
}