// affects aug, recon, and cover pages
// article.page {}
& {
	position: relative;
	overflow: hidden;
  width: $pageWidth;
  height: $pageHeight;
  margin-top:45px;
  
  /*
&#cover {
	  &:before {
	  	background:none;
	  }
  }
  &:before {
  	content:'';
		position:absolute;
    top: 600px;
    left: 785px;
		width:201px;
		height:51px;
    z-index: 50;
		background:url('../images/framework/natrelle_logo.png') center center no-repeat;
	}
*/
}

button.tissue-expander {
	z-index: 9;
  position: relative;
  left: 220px;
  background-color:$primaryColor;
  color:#fff;
  font: {
    size: 17px;
    family: $hevBold;
  }
  -webkit-border-radius: 20px 0 20px 0;
  padding: 10px 15px;
  i {
    font-family: $hevBoldIt;
  }
}

div.methodology {
  position:absolute;
  text-align: left;
  button {
    position:absolute;
    top:0;
    left:0;
    background-color:$primaryColor;
    color:#fff;
    font: {
      size: 17px;
      family: $hevBold;
    }
    -webkit-border-radius: 20px 0 20px 0;
    padding: 10px 15px;
    z-index:21;
  }
  .description {
    @include popUp;
    top:0;
    left:0;
    width:280px;
    -webkit-border-radius: 20px 0 20px 0;
    padding:50px 10px 10px 10px;
    i {
      font-family: $hevLightItalic;
    }
    z-index:20;
  }
}

h1, h2 {
  margin: 7px 0;
  font: {
    weight: normal;
  }
  text-align: center;
}

h1 {
  font-size: 38px;
  font-family: $hevThin;
  color: $primaryColor;
  //-webkit-transform: translate3d(0,0,0);
  i {
    font-style: italic;
  }
  sup{
    top:-.2em;
  }
  //line-height: 26px;
}

h2 {
  font-size: 17px;
  font-family: $hevLight;
  color: $secondaryColor;
  margin-top: -5px;
  sup{
    top: -0.05em;
  }
}

h3 {
  margin: 12px 0;
  font: {
    size: 17px;
    family: $hevBold;
  }
  i,em{
    font-family: $hevBoldIt;
  }
  color: $primaryColor;
  sup{
    top: -0.05em;
  }
}

p {
  font: {
    family: $hevLight;
    size: 15px;
  }
  line-height: 18px;
  color: $secondaryColor;
  b {
    font-family: $hevBold;
  }
}

.content-block {
  &.left-side,&.right-side{
  position: absolute;
  }
}

